/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs) 0;
}

.nav > .logo {
  margin-right: var(--spacing-3xl);
}

.nav__link-wrapper {
  display: none;
  margin: 0;
}

.nav__link {
  margin-right: var(--spacing-2xl);
  font-weight: 400;
}
.nav__link:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 836px) {
  .nav__link-wrapper {
    display: flex;
    align-items: center;
  }
}
